
.testimonials-container {
    background-color: #ececec;
    padding: 80px 10%;
}

.testimonials-container h2 {
    text-align: center;
    margin-bottom: 36px;
}

.testimonials-list {
    display: flex;

    & > * {
        flex: 1;
        margin: 0 12px;
    }
}

@media (max-width: 768px) {

    .testimonials-list {
        display: block;

        & > * {
            margin-bottom: 12px;
        }
    }

}