
.nav-container {
    align-items: center;
    display: flex;
    height: 80px;
    justify-content: center;
}

.links {
    display: flex;
    list-style: none;
}

.links > * {
    margin-right: 12px;
}

.link {
    flex: 1;
    color: #000;
    font-weight: 500;
    text-decoration: none;
}

@media (max-width: 700px) {

    .nav-container {
        display: block;
        padding: 20px;
    }

    .nav-container .nav-logo-container {
        margin: auto;
        width: 100%;
        text-align: center;
    }

    .nav-container .nav-logo-container img {
        width: 200px
    }

}